body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.navbar {
  z-index: 3;
  width: 100%;
  position: fixed;
  background: linear-gradient(45deg, #f90000, #000000) !important;
}

.collapse {
  color: white !important;
}

.btn-color {
  border-radius: 10px;
  background-color: #a92020;
  color: white;
}

.btn-color:hover {
  background-color: white;
  color: #f90000;
}

.modal-header {
  background: linear-gradient(45deg, #f90000, #000000) !important;
}

.app-badge {
  border-radius: 5px;
}
.masthead {
  min-height: 701px;
}

#img-logo {
  width: 500px;
  position: absolute;
  z-index: -1;
}

#img-phone {
  z-index: -1;
  width: 260px;
}

#Phone-icon {
  filter: drop-shadow(2px 2px 20px #ff0000);
}

.img-blure {
  width: 250px;
  background-color: #000000;
  border-radius: 50%;
  height: 300px;
  position: absolute;
  z-index: -3;
  left: 230px;
  top: 120px;
  filter: blur(70px);
}

aside {
  background: linear-gradient(45deg, #f90000, #000000) !important;
  vertical-align: middle;
  z-index: 2;
}

#logo-body {
  width: 6rem;
  z-index: 3;
}

.img-body {
  width: 90px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  left: 355px;
  z-index: 1;
  filter: blur(18px);
}

/* .icon-hover:hover {
  color: #f90000;
} */

.features {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.img-frame {
  max-width: 100%;
  height: auto;
}

#imgChar {
  border-radius: 50px;
  bottom: 0;
  width: 344px !important;
  position: absolute;
  z-index: -1;
  left: 40px;
}

.bg-light {
  padding-bottom: 4rem;
}

section.cta {
  position: relative;
  padding: 15rem 0;
  background-image: url(assets/img/apex-harita-wp.jpg);
  background-position: center;
  background-size: cover;
}

aside.asidePict {
  position: relative;
  background-image: url(assets/img/apex-hero-wp.jpg) !important;
  background-position: center;
  background-size: cover;
}

#download {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: linear-gradient(45deg, #f90000, #000000) !important;
}

#apexCoin {
  top: 120px;
  right: 600px;
  width: 140px;
  position: absolute;
  z-index: 2;
  filter: drop-shadow(2px 2px 60px #ff0000);
}

#lootApex {
  top: 380px;
  right: 320px;
  width: 200px;
  position: absolute;
  z-index: 1;
  filter: drop-shadow(5px 5px 60px #ff0000);
}

#apexBronz {
  right: 300px;
  width: 150px;
  position: absolute;
  z-index: 1;
  filter: drop-shadow(2px 2px 5px #ff0000);
}

#predatOr {
  filter: drop-shadow(2px 2px 30px #ff0000);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #a92020;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
}

.modal-body {
  padding: 1.5rem !important;
}

#submitButton {
  background: linear-gradient(45deg, #f90000, #000000) !important;
}

@media (max-width: 768px) {
  .masthead .py-5,
  .masthead.py-5 {
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width: 1400px) {
  .lors-img{
    display: none !important;
  }
  
}

